
$white: #fff;
$main: #FF0F29;
$gradiante-main: linear-gradient(20deg, rgba(229,178,83,1) 26%, rgba(190,131,47,1) 85%);

$rojo: #D23741;
$naranja: #916fae;
$azul: #41326D;

$main-color: #916fae;
$bordeR: 12px;
$pdButton: 7px 25px;