.accordion-button{
    width: 100%;
    background: transparent;
    border: none;
    text-align: left;
}

.accordion-header{
    margin-bottom: 0 !important;
}

.panel-collapse{
    border: 1px solid #e2e2e2;
    border-top-color: #ff8877;
}