@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 100px;
}

.swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    @apply bg-main
}

.caption{
    color: rgb(96, 57, 64) !important;
    left: 25%;
    width: 50%;
    text-align: center;
    top: 30%;
    position: absolute;
}

.caption h3{

    font-size: 65px;

    margin-bottom: 20px;

    font-weight: bold;

    font-family: Playfair Display;

}

.grey-text.text-lighten-3{

    letter-spacing: 1px;

    color: #534f4f !important;

    line-height: 2;

    font-size: 18px;

}

.flowscuerpo{
    margin-bottom: 10px;
}

.oferta .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    @apply bg-main
}

.oferta .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -7px;
}